.piclogoo{
   width: 100%;
   height:  100%;
   box-sizing: border-box;
 
     }
.allLogIn{
width: 60%;
height: 60vh; 
animation-name: dailog;
animation-duration: 1.5s;
overflow: hidden;
display: flex;

}

@keyframes dailog {
   0% {width: 2%;height: 15%;}
  /* 50%  {background-color:lightgray; } */
 }
 .dailogLogin{
   width:180%;
   height: 100%;
   box-sizing: border-box;
   border: 1px solid black;
   text-align: center;
   /* padding-top:10%; */
   font-size: x-large;
   /* color: dodgerblue; */
   /* flex-wrap: wrap; */
  
 }
 .dailogLoginPic{
   width:100%;
   height:100%;
   /* box-sizing: border-box; */
   /* border: 1px solid black; */
   /* flex-wrap: wrap; */
 }
 .loginicon{
  width: 5%;
  height:10%;
  box-sizing: border-box;
flex-wrap: wrap;

 }
 .button{

  color: dodgerblue;
  border: 2px solid dodgerblue;
 }



